
@font-face{
    font-family: notosans;
    src:url(NotoSans-Bold.ttf)
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.container-fluid{
    height: 100vh;
    
     background-image: url(../img/photo.png);
   
     background-size: cover;
     
     position: relative;
}
.sidebar{
    position:absolute;
    top:0;
    left:-70vw;
    bottom:0;
    width: 70vw;
    background-color:rgba(0,0,0,0.8); 
    transition: transform 1s ease-in ;
}
.sidebar.active{
    
  transform:translateX(70vw);
}
.row.no-space{
    margin-left: 0;
    margin-right: 0;
}
.row.no-space>[class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.remo{
    background-color:white ;
    transition:  all 1s ease-in ;
}
.remo:hover{
    background-color: #E0F7FA;
    transform : translateY(-300px) scale(1.5);
 
}
.wrap{ 

     position: absolute;
     bottom:0;
     left: 0;
     width: 100%;
     height: 100px;
     padding-left: 5px;
     padding-right: 5px;
     text-align: center;
    background-color:rgba(0,0,0,0.5);
    color : white;
}


.weather-day{
    
    border-left:1px solid rgba(0,0,0,0.05);
}

.font-size-50{
    font-size: 18px;
    text-align: center;
}

span.font-size-18{
    font-size: 18px;
    
}
span.blue-grey-700{ 
   color:#37474f!important; 
}
span.font-size-16{
    font-size: 16px;
    
}
p.font-size-14{
    font-size: 14px;
    
}
p.margin-bottom-0{
    margin-bottom: 0;
}
.vertical-align-c{
    display: flex;
    flex-direction: column;
     height:  100px;
     align-items: center;
     justify-content:center;
}
.white{ 
    color:white;
}
.search{
    width: 90%;
    height: 50px;
    border : none;
    background-color: rgba(0,0,0,0.0);
    color:white;
    font-size: 24px;
    font-style: bold;
    text-align: center;
    font-family: notosans;
   
}
.search:focus{
     outline:none;
}
.padding20{
    padding: 20px;
}
.wrapheader{
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menu{
     display:inline-block;
     position:relative;
     width:35px;
     border-top:2px solid #ffffff;

}
.menu:before{
    content: '';
    position:absolute;
    width: 100%;
    top:-10px;
    border-top:2px solid red;
}
.menu:after{
    content: '';
    position:absolute;
    width: 100%;
    top:8px;
    border-top:2px solid #ffffff;;
}
.icon{
     color:white;
}
#app{
     display: flex;
     flex-direction: column;
     align-items: center;
     
      margin-top: 25px;
     height: 60vh;
     
}
.mainicon{
    color:white;
    font-size: 136px;
}
.temperature{
   
    font-size: 100px;
    color: white;
    margin-top:-40px;
}
.imidite{
     width:200px;
     
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    margin-left: 10px;
}
.temp{
     font-size: 8px;
     display: flex;
     justify-content: space-between;

}
.bor{
     border-right: 1px solid rgba(255,255,255,0.2);
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
#app2{
    height: 100%;

}

@media (max-width: 600px) {

}